#calculator {
	border: 1px solid blue;
	border-radius: 5px;
	padding-left: 0%;
	list-style-type: none;
	width: 125px;
}

#calcTitle {
	background-color: blue;
	color: white;
	text-align: center;
}

.fieldTitles {
	color: rgba(32, 32, 32, 32);
	font-size: 8px;
	margin-left: 5px;
}

.clickable {
	background-color: grey;
	border: none;
	text-decoration: none;
	margin-right: 0%;
	margin-left: 0%;
	margin: 0px;
}


.fieldTable {
	border: 1px solid grey;
	border-radius: 4px;
	margin-right: 10px;
	margin-left: 10px;
	padding: 0px;
}

#billInput {
	text-align: center;
	width: 100px;
	margin-left: 5px;
}


body {
	font-family: arial;
}

.inputs {
	width: 55px;
	text-align: center;
}

.smallResult {
	font-size: 16px;
	margin-left: 5px;
}

.smallResultMinor {
	font-size: 8px;
	margin-left: 5px;
}

.smallResultTd {
	line-height: 9px;
}

.smallResultValue {
	float: left;
}
